* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  background-color: lavender;
}

.container {
  width: 60%;
  height: 1000px;
  border: 1px solid;
  /* padding: 10px; */
  margin: 50px auto;
  background: linear-gradient(200deg, #113af2 0%, #764ba2 100%);
}

.chess-board {
  width: 74%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0;
}

.cells {
  border: none;
}

.cell {
  width: 100px;
  height: 100px;
  border: none;
}

:nth-child(1 of .b1) {
  background-color: #000;
}

:nth-child(1 of .w1) {
  background-color: #fff;
}

:nth-child(1 of .b2) {
  background-color: #000;
}

:nth-child(1 of .w2) {
  background-color: #fff;
}

:nth-child(1 of .b3) {
  background-color: #000;
}

:nth-child(1 of .w3) {
  background-color: #fff;
}

:nth-child(1 of .b4) {
  background-color: #000;
}

:nth-child(1 of .w4) {
  background-color: #fff;
}

